.label {
  display: block;
  margin-bottom: 10px;
}

.button {
  position: relative;
  padding: 5px 15px;
  border-color: #fff;
  cursor: pointer;
  background-image: -webkit-linear-gradient(
    45deg,
    #f1c40f 50%,
    transparent 50%
  );
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 150ms ease-in-out;
  transition: background 150ms ease-in-out;
}

.button:hover {
  background-position: 0;
  color: #fff;
  border-color: #f1c40f;
}
